/*
Phuel azul: #38424E
Phuel laranja: #F05022
*/

body {
    padding-top: 5rem;
    color: #38424E;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}



.navbar-dark {
    /* background-color: #F05022; */
    background-color: #38424E;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #F05022;
}

.phuel-brand {
    height: 30px;
    width: auto;
}

input {
    width: 40px;
}

.chart {
    width: 55%;
    height: 600px;
    float: left;
}
.legend {
    width: 40%;
    float: right;
}

@media only screen and (max-width:600px) {
    .chart {
        width: 100%;
        float: none;
    }
    .legend {
        width: 100%;
        float: none;
    }
}

.btn {
    margin: 10px 0px 10px 0;
}


.btn-group-container {
    width: 50%;
    margin: 0 auto;
}

.btn-group {
    width: 100%;
    text-align: center;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #38424E;
    border-color: #38424E;
}

.btn-primary:not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #F05022;
    border-color: #F05022;
}

.btn-primary:not(:disabled):not(.disabled):hover {
    color: #fff;
    background-color: #D04012;
    border-color: #D04012;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #C03002;
    border-color: #C03002;
}

.table td {
    vertical-align: middle;
}

.vehicle-icon {
    max-height: 50px;
    width: auto;
}

.battery-wrapper {
    width: 60px;
    height: 30px;
    display: inline-block;
    margin-top: -2px;
}

.battery-icon {
    max-height: 100%;
    width: auto;
}

.battery-level {
    /* position: absolute; */
    /* left: 0; */
    margin-top: -30px;
    margin-left: 3px;
    height: 100%;
    width:50%;
    background-color: #00ff00;
}

.battery-number {
    display: inline-block;
    line-height: 30px;
    padding-left: 10px;
}